@use "color";
@use "mixin";

.book {
    @include mixin.fullSize;
    display: flex;
    flex-direction: column;

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-title {
        font-size: 1.5rem;
        color: color.$darkwhite;
    }

    &-control {
        @include mixin.flexCenter;
        column-gap: 10px;
    }

    &-loader {
        @include mixin.flexCenter;
        width: 100%;
        height: 100%;
    }

    &-slider {
        background-color: color.$black;
        border-radius: 10px;
        width: 8rem;
        height: 1.5rem;
        
        & > * {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}