@use "color";
@use "mixin";

.button {
    background-color: transparent;
    text-align: center;
    margin: 0px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    overflow: hidden;
    min-width: max-content;
    min-height: max-content;

    &-outlined {
        @include mixin.outline;
    }

    &-inline {
        @include mixin.flexCenter;
    }

    &-block {
        @include mixin.flexCenter;
        @include mixin.fullSize;
    }

    &-slim {
        padding: 0rem;
    }

    &-wide {
        padding: 0rem .5rem;
    }

    &-tall {
        padding: .3rem 0rem;
    }

    &-big {
        padding: .3rem .5rem;
    }

    &-round {
        border-radius: 5px;
    }

    &-dark {
        color: color.$darkwhite;

        &:hover {
            @include mixin.highlighted;
        }
    }

    &-medium {
        color: color.$mediumwhite;

        &:hover {
            @include mixin.highlighted;
        }
    }

    &-white {
        color: color.$white;

        &:hover {
            @include mixin.highlighted;
        }
    }

    &-highlighted {
        @include mixin.highlighted;
    }

    &-underlined {
        text-decoration-line: underline;
    }

    &-disabled {
        color: rgba(255, 255, 255, .2);
        cursor: not-allowed;

        &:hover {
            color: rgba(255, 255, 255, .2);
            background-color: transparent;
        }
    }

}