$dark: rgb(36, 42, 51);
$black: #1e222b;
$highlight: #323942;
$greenlight: rgba(45, 54, 64, 0.7);
$darktransparent: rgb(36, 40, 51, .5);
$grey: #f3e8ee;
$darkgrey: #f3e8ee8f;
$border: rgba(150, 150, 150, 0.1);
$blue: #2962ff;
$blackwhite: rgba(255, 255, 255, 0.25);
$darkwhite: rgba(255, 255, 255, 0.5);
$mediumwhite: rgba(255, 255, 255, 0.75);
$white: #f3e8ee;
$up: #089981;
$down: #f23645;
$eq: rgb(223, 152, 21);
$pink: #D50080;
$background: rgba(30, 34, 43);