@font-face {
    font-family: 'krypton-sans-serif';
    src: url('../assets/fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'krypton-sans-serif';
    src: url('../assets/fonts/OpenSans/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'krypton-sans-serif';
    src: url('../assets/fonts/OpenSans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'krypton-sans-serif';
    src: url('../assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'krypton-sans-serif';
    src: url('../assets/fonts/OpenSans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'krypton-sans-serif';
    src: url('../assets/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'krypton-sans-serif';
    src: url('../assets/fonts/OpenSans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'krypton-sans-serif';
    src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'krypton-sans-serif';
    src: url('../assets/fonts/OpenSans/OpenSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'krypton-sans-serif';
    src: url('../assets/fonts/OpenSans/OpenSans-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

$font-sans-serif: 'krypton-sans-serif',-apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
