@font-face {
    font-family: 'krpytonite-sans-serif';
    src: url('../assets/fonts/KievitPro-ExtraLight.eot');
    src: 
        url('../assets/fonts/KievitPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/KievitPro-ExtraLight.woff') format('woff'),
        url('../assets/fonts/KievitPro-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'krpytonite-sans-serif';
    src: url('../assets/fonts/KievitPro-Light.eot');
    src: 
        url('../assets/fonts/KievitPro-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/KievitPro-Light.woff') format('woff'),
        url('../assets/fonts/KievitPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'krpytonite-sans-serif';
    src: url('../assets/fonts/KievitPro-Italic.eot');
    src: 
        url('../assets/fonts/KievitPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/KievitPro-Italic.woff') format('woff'),
        url('../assets/fonts/KievitPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: '../assets/fonts/KievitPro-Book';
    src: url('../assets/fonts/KievitPro-Book.eot');
    src: 
        url('../assets/fonts/KievitPro-Book.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/KievitPro-Book.woff') format('woff'),
        url('../assets/fonts/KievitPro-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'krpytonite-sans-serif';
    src: url('../assets/fonts/KievitPro-Bold.eot');
    src: 
        url('../assets/fonts/KievitPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/KievitPro-Bold.woff') format('woff'),
        url('../assets/fonts/KievitPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'krpytonite-sans-serif';
    src: url('../assets/fonts/KievitPro-ExtraBold.eot');
    src: 
        url('../assets/fonts/KievitPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/KievitPro-ExtraBold.woff') format('woff'),
        url('../assets/fonts/KievitPro-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'krpytonite-sans-serif';
    src: url('../assets/fonts/KievitPro-Black.eot');
    src: 
        url('../assets/fonts/KievitPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/KievitPro-Black.woff') format('woff'),
        url('../assets/fonts/KievitPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'krpytonite-sans-serif';
    src: url('../assets/fonts/KievitPro-Medium.eot');
    src: 
        url('../assets/fonts/KievitPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/KievitPro-Medium.woff') format('woff'),
        url('../assets/fonts/KievitPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'krpytonite-sans-serif';
    src: url('../assets/fonts/KievitPro-Thin.eot');
    src: 
        url('../assets/fonts/KievitPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/KievitPro-Thin.woff') format('woff'),
        url('../assets/fonts/KievitPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'krpytonite-sans-serif';
    src: url('../assets/fonts/KievitPro-Regular.eot');
    src: 
        url('../assets/fonts/KievitPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/KievitPro-Regular.woff') format('woff'),
        url('../assets/fonts/KievitPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


$font-sans-serif: 'kryptonite-sans-serif',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
