@use "mixin";

.icon {
    image-rendering: pixelated;

    &-supersmall {
        @include mixin.size(10px, 10px);
    }

    &-small {
        @include mixin.size(15px, 15px);
    }

    &-smallmedium {
        @include mixin.size(20px, 20px);
    }

    &-medium {
        @include mixin.size(25px, 25px);
    }

    &-mediumlarge {
        @include mixin.size(30px, 30px);
    }

    &-large {
        @include mixin.size(35px, 35px);
    }

    &-superlarge {
        @include mixin.size(40px, 40px);
    }
}