@use "color";

.main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 2fr 1fr;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    height: 100vh;
    min-width: 33.5rem;
    min-height: 70rem;

    @media only screen and (max-width: 900px) {
        grid-template-columns: 1fr;
    }

    & > * {
        background-color: color.$dark;
        padding: 1rem;
        border-radius: 5px;
    }
}