.select {

    max-width: 17rem;
    width: 100%;
    margin-left: auto;
    font-size: 1.5rem;
    position: relative;
   

    &__label {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        padding: .5rem;
        border: 1px solid $darkgrey;
        border-radius: 3px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        
        &::after {
            content: '';
            border: solid $grey;
            border-width: 0 1px 1px 0;
            position: absolute;
            padding: .5rem;
            margin-left: 70%;
            transform: rotate(45deg);
        }

    }

    &__list {
        display: none;
        position: absolute;
        width: 100%;
        border: 1px solid $darkgrey;
        border-radius: 3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
        text-align: center;
        background-color: rgba(33, 32, 41, 0.507);
        
        

        & > * {
            padding-top: .5rem;

         
        }

        & > *:last-child {
            padding-bottom: .5rem;
        }
    }
}