@use "color";
@use "mixin";

.slider {
    position: relative;

    &-pointer {
        @include mixin.flexCenter;
        position: absolute;
        top: 0;
        left: 0;
        border: 2px solid color.$white;
        border-radius: 50%;

        &-fill {
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}