@use "color";
@use "mixin";

.status {
    @include mixin.flexCenter;
    border-radius: 5px;
    padding: .3rem .6rem;
    cursor: pointer;

    & > * {
        @include mixin.flexCenter;
    }

    &-icon {
        &-success {
            color: color.$up;
        }
    
        &-failed {
            color: color.$down;
        }
    
        &-network {
            color: color.$eq;
        }
    }
}