@use "color";
@use "mixin";

.time {
    &-clock {
        @include mixin.flexCenter;
    }

    &-calendar {
        @include mixin.flexCenter;
        flex-direction: column;
        row-gap: 1rem;
        text-align: center;
      
        & > *:not(:first-child) {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(7, 3.6rem);
            gap: .2rem;
            grid-auto-rows: 3rem;
            justify-content: space-between;
            align-items: center;
        }

        &-months {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 1rem;
            width: 100%;
        }

        &-month {
            white-space: nowrap;
            min-width: 11rem;
            user-select: none;
            color: color.$darkwhite;
        }

        &-day {
            color: color.$darkwhite;
            font-size: 1.2rem;
        }

        &-date {
            height: 3rem;
        }
    }

    &-date {
        @include mixin.outline;
        display: flex;
        border-radius: 5px;
        @include mixin.formEffect;

        &-input {
            background-color: transparent;
            appearance: none;
            outline: none;
            border: none;
            margin: 0;
            padding: 0px .5rem;
            color: currentColor;
            pointer-events: auto;
            @include mixin.fullSize;
        }
    }
}